<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_supermarket">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ESupermarket">

        <activity android:name=".customer.staff.activity.StaffMainActivity"></activity>
        <activity android:name=".customer.admin.activity.AdminMainActivity" />
        <activity android:name=".customer.features.HomeActivity" />
        <activity android:name=".customer.Common.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".customer.Common.Mob" />
        <activity android:name=".customer.Common.Signup">

        </activity>
        <activity android:name=".customer.Common.Login" />
        <activity android:name=".customer.Common.MainActivity" />
    </application>

</manifest>