<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_supermarket">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ESupermarket"
        android:usesCleartextTraffic="true">
        <activity android:name=".customer.Common.Cust_profilephoto"></activity>
        <activity android:name=".customer.staff.activity.StaffMainActivity" />
        <activity android:name=".customer.admin.activity.AdminMainActivity"></activity>
        <activity android:name=".customer.features.HomeActivity"></activity>
        <activity android:name=".customer.Common.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".customer.Common.Mob"></activity>
        <activity android:name=".customer.Common.Signup">


        </activity>
        <activity android:name=".customer.Common.Login" />
        <activity android:name=".customer.Common.MainActivity" />

        <provider
            android:name=".customer.GenericFileProvider"
            android:authorities="com.example.e_supermarket"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>